@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  /* position relative to remove framer motion warning */
  position: relative;
  scrollbar-width: none;
}

body {
  /* page transition and nav drawer toggle set this to visible */
  overflow: hidden;
}

.pin-spacer {
  /* ensure the gsap spacer around the footer is always 100% wide */
  width: 100% !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4.8% 95.9%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 4.8% 95.9%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 4.9% 83.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --input: 240 4.8% 95.9%;
    --input-foreground: 240 10% 3.9%;
    --radius: 0.5rem;
    --star-light: 215 20% 65%;
    /* for --directional-light, if --primary is violet-700, use violet-300 */
    --directional-light: 229.7 93.5% 81.8%;
  }

  body {
    @apply bg-background font-inter text-foreground;
  }
}

.light-beam-1 {
  --rotate: 0deg;
  --scale: 1;
  --duration: 7s;
}

.light-beam-2 {
  --rotate: 10deg;
  --scale: 1;
  --duration: 6s;
}

.light-beam-3 {
  --rotate: -10deg;
  --scale: 1;
  --duration: 5.5s;
}

.light-beam-4 {
  --rotate: 20deg;
  --scale: 1;
  --duration: 5s;
}

.light-beam-5 {
  --rotate: -20deg;
  --scale: 1;
  --duration: 4.5s;
}

.hero-light-beam-intro {
  animation:
    light-beam-pulsate calc(var(--duration, 5s)) linear infinite
      var(--delay, 0s) alternate,
    light-beam-transform 5s var(--light-beam-intro-delay, 2s) forwards;
}

.hero-light-beam-pulsate {
  transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 1))
    scale(var(--scale, 1));
  animation: light-beam-pulsate calc(var(--duration, 5s)) linear infinite
    var(--delay, 0s) alternate;
}

@keyframes light-beam-pulsate {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes light-beam-transform {
  0% {
    transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 0.6))
      scale(var(--scale, 1));
  }
  45% {
    transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 1.2))
      scale(calc(var(--scale, 1) * 1.1));
  }
  100% {
    transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 1))
      scale(var(--scale, 1));
  }
}

@keyframes star-pulse {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    filter: brightness(0.8);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    filter: brightness(2);
  }
}

@keyframes animate-shooting-star {
  0% {
    opacity: 0;
    transform: rotate(var(--shooting-star-rotation)) translateX(0);
  }
  30%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(var(--shooting-star-rotation))
      translateX(var(--shooting-star-travel-distance));
  }
}

.typewriter {
  animation:
    typing var(--typewriter-duration, 1s) steps(22),
    blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
