@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  /* page transition and nav drawer toggle set this to visible */
  overflow: hidden;
}

.pin-spacer {
  width: 100% !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --space-background: 240 10% 3.9%;
    --space-foreground: 0 0% 98%;
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 243.4 75.4% 58.6%;
    --radius: 0.5rem;
    --star-light: 215 20% 65%;
    /* for --directional-light, if --primary is violet-700, use violet-300 */
    --directional-light: 229.7 93.5% 81.8%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-inter text-foreground;
  }
}

.light-beam-1 {
  --rotate: 0deg;
  --scale: 1;
  --duration: 7s;
}

.light-beam-2 {
  --rotate: 10deg;
  --scale: 1;
  --duration: 6s;
}

.light-beam-3 {
  --rotate: -10deg;
  --scale: 1;
  --duration: 5.5s;
}

.light-beam-4 {
  --rotate: 20deg;
  --scale: 1;
  --duration: 5s;
}

.light-beam-5 {
  --rotate: -20deg;
  --scale: 1;
  --duration: 4.5s;
}

.hero-light-beam-intro {
  animation:
    light-beam-pulsate calc(var(--duration, 5s)) linear infinite
      var(--delay, 0s) alternate,
    light-beam-transform 5s 4.5s forwards;
}

.hero-light-beam-pulsate {
  transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 1))
    scale(var(--scale, 1));
  animation: light-beam-pulsate calc(var(--duration, 5s)) linear infinite
    var(--delay, 0s) alternate;
}

@keyframes light-beam-pulsate {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes light-beam-transform {
  0% {
    transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 0.6))
      scale(var(--scale, 1));
  }
  45% {
    transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 1.2))
      scale(calc(var(--scale, 1) * 1.1));
  }
  100% {
    transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 1))
      scale(var(--scale, 1));
  }
}

@keyframes star-pulse-fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    filter: brightness(2);
  }
  20% {
    filter: brightness(0.8);
  }
  30% {
    filter: brightness(2);
  }
  40% {
    filter: brightness(0.8);
  }
  50% {
    filter: brightness(2);
  }
  60% {
    filter: brightness(0.8);
  }
  70% {
    filter: brightness(2);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: brightness(0.8);
  }
}

@keyframes animate-shooting-star {
  0% {
    opacity: 0;
    transform: rotate(var(--shooting-star-rotation)) translateX(0);
  }
  30%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(var(--shooting-star-rotation))
      translateX(var(--shooting-star-travel-distance));
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.5rem solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation:
    typing 1.2s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.5rem solid;
  animation:
    typing 1s steps(22),
    blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
