@tailwind base;
@tailwind components;
@tailwind utilities;

.pin-spacer {
  width: 100% !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 244.5 57.9% 50.6%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 244.5 57.9% 50.6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --light-beam: 218 28% 60%;
    --star-light: 215 20% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-inter text-foreground;
  }
}

.light-beam-1 {
  --rotate: 0deg;
  --scale: 1;
  --duration: 7s;
}

.light-beam-2 {
  --rotate: 10deg;
  --scale: 1;
  --duration: 6s;
}

.light-beam-3 {
  --rotate: -10deg;
  --scale: 1;
  --duration: 5.5s;
}

.light-beam-4 {
  --rotate: 20deg;
  --scale: 1;
  --duration: 5s;
}

.light-beam-5 {
  --rotate: -20deg;
  --scale: 1;
  --duration: 4.5s;
}

.hero-light-beam-intro {
  animation:
    light-beam-pulsate calc(var(--duration, 5s)) linear infinite
      var(--delay, 0s) alternate,
    light-beam-transform 5s forwards;
}

.hero-light-beam-pulsate {
  transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 1))
    scale(var(--scale, 1));
  animation: light-beam-pulsate calc(var(--duration, 5s)) linear infinite
    var(--delay, 0s) alternate;
}

@keyframes light-beam-pulsate {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes light-beam-transform {
  0% {
    transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 0.6))
      scale(var(--scale, 1));
  }
  45% {
    transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 1.2))
      scale(calc(var(--scale, 1) * 1.1));
  }
  100% {
    transform: translateX(-50%) rotate(calc(var(--rotate, 0deg) * 1))
      scale(var(--scale, 1));
  }
}

@keyframes star-pulse-fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    filter: brightness(2);
  }
  20% {
    filter: brightness(0.8);
  }
  30% {
    filter: brightness(2);
  }
  40% {
    filter: brightness(0.8);
  }
  50% {
    filter: brightness(2);
  }
  60% {
    filter: brightness(0.8);
  }
  70% {
    filter: brightness(2);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: brightness(0.8);
  }
}

@keyframes animate-shooting-star {
  0% {
    opacity: 0;
    transform: rotate(var(--shooting-star-rotation)) translateX(0);
  }
  30%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(var(--shooting-star-rotation))
      translateX(var(--shooting-star-travel-distance));
  }
}
